<form (ngSubmit)="saveProduct()" enctype="multipart/form-data">
  <div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="product.name" name="name" required />
  </div>

  <div>
    <label>Description:</label>
    <textarea [(ngModel)]="product.description" name="description"></textarea>
  </div>

  <div>
    <label>Base Price:</label>
    <input type="number" step="0.01" [(ngModel)]="product.basePrice" name="basePrice" required />
  </div>

  <div>
    <label>Stock Quantity:</label>
    <input type="number" [(ngModel)]="product.stockQuantity" name="stockQuantity" required />
  </div>


  <input
  id="imageInput"
  type="file"
  (change)="onImageSelected($event)"
  accept="image/*"
  required
/>

  
  

  <button type="submit">Save the product</button>
</form>

  