<!-- Hero slider -->
<section class="bg-body-tertiary">
  <div class="container">
    <div class="row">

      <!-- Titles   master slider -->
      <div class="col-md-6 col-lg-5 d-flex flex-column">
        <div class="py-4 mt-auto">
          <div class="swiper pb-1 pt-3 pt-sm-4 py-md-4 py-lg-3" data-swiper="{
              &quot;spaceBetween&quot;: 24,
              &quot;loop&quot;: true,
              &quot;speed&quot;: 400,
              &quot;controlSlider&quot;: &quot;#heroImages&quot;,
              &quot;pagination&quot;: {
                &quot;el&quot;: &quot;#sliderBullets&quot;,
                &quot;clickable&quot;: true
              },
              &quot;autoplay&quot;: {
                &quot;delay&quot;: 5500,
                &quot;disableOnInteraction&quot;: false
              }
            }">
            <div class="swiper-wrapper align-items-center">

              <!-- Item -->
              <div class="swiper-slide text-center text-md-start">
                <p class="fs-xl mb-2 mb-lg-3 mb-xl-4">The new warm collection</p>
                <h2 class="display-4 text-uppercase mb-4 mb-xl-5">New fall <br class="d-none d-md-inline">season 2024
                </h2>
                <a class="btn btn-lg btn-outline-dark" href="shop-catalog-fashion.html">
                  Shop now

                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide text-center text-md-start">
                <p class="fs-xl mb-2 mb-lg-3 mb-xl-4">Ready for the party?</p>
                <h2 class="display-4 text-uppercase mb-4 mb-xl-5">Choose outfits for parties</h2>
                <a class="btn btn-lg btn-outline-dark" href="shop-catalog-fashion.html">
                  Shop now

                </a>
              </div>

              <!-- Item -->
              <div class="swiper-slide text-center text-md-start">
                <p class="fs-xl mb-2 mb-lg-3 mb-xl-4">Shades of gray for your look</p>
                <h2 class="display-4 text-uppercase mb-4 mb-xl-5">-50% on gray Collection</h2>
                <a class="btn btn-lg btn-outline-dark" href="shop-catalog-fashion.html">
                  Shop now

                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slider bullets (pagination) -->
        <div
          class="d-flex justify-content-center justify-content-md-start pb-4 pb-xl-5 mt-n1 mt-md-auto mb-md-3 mb-lg-4">
          <div class="swiper-pagination position-static w-auto pb-1" id="sliderBullets"></div>
        </div>
      </div>

      <!-- Linked images (controlled slider) -->
      <div class="col-md-6 col-lg-7 align-self-end">
        <div class="position-relative ms-md-n4">
          <div class="ratio" style="--cz-aspect-ratio: calc(662 / 770 * 100%)"></div>
          <div class="swiper position-absolute top-0 start-0 w-100 h-100 user-select-none" id="heroImages" data-swiper="{
              &quot;allowTouchMove&quot;: false,
              &quot;loop&quot;: true,
              &quot;effect&quot;: &quot;fade&quot;,
              &quot;fadeEffect&quot;: {
                &quot;crossFade&quot;: true
              }
            }">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/assets/img/home/fashion/v1/hero-slider/08.jpg" class="rtl-flip" alt="Image">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/home/fashion/v1/hero-slider/02.jpg" class="rtl-flip" alt="Image">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/home/fashion/v1/hero-slider/09.jpg" class="rtl-flip" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Popular products carousel -->
<section class="container py-5 my-2 my-sm-3 my-lg-4 my-xl-5">
  <div class="row align-items-lg-center py-xxl-3">

    <!-- Products -->
    <div class="col-md-6 col-xl-5 offset-xl-1 order-md-2 mb-4 mb-md-0">
      <div class="ps-md-3 ps-lg-4 ps-xl-0">
        <div class="d-flex align-items-center justify-content-between pb-4 mb-md-1 mb-lg-2 mb-xl-3">
          <h2 class="me-3 mb-0">Popular products</h2>

          <!-- Slider prev/next buttons -->
          <div class="d-flex gap-2">
            <button type="button" class="btn btn-outline-secondary rounded-circle">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary rounded-circle">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

        </div>

        <!-- Products master slider -->
        <div class="swiper" data-swiper="{
            &quot;spaceBetween&quot;: 24,
            &quot;loop&quot;: true,
            &quot;speed&quot;: 400,
            &quot;controlSlider&quot;: &quot;#sliderImages&quot;,
            &quot;navigation&quot;: {
              &quot;prevEl&quot;: &quot;#popularPrev&quot;,
              &quot;nextEl&quot;: &quot;#popularNext&quot;
            }
          }">
          <div class="swiper-wrapper">

            <!-- Products list slide -->
            <div class="swiper-slide">
              <div class="d-flex flex-column gap-3 gap-lg-4">
                <div
                  class="d-flex align-items-center position-relative bg-body-tertiary rounded overflow-hidden animate-underline">
                  <img src="/assets/img/shop/fashion/thumbs/09.jpg" width="110" alt="Thumbnail">
                  <div class="nav flex-column gap-2 min-w-0 p-3">
                    <a class="nav-link text-dark-emphasis stretched-link w-100 min-w-0 p-0"
                      href="shop-product-fashion.html">
                      <span class="animate-target text-truncate">Flower bouquet with chocolate</span>
                    </a>
                    <div class="h6 mb-0">76.00Dt</div>
                  </div>
                </div>
                <div
                  class="d-flex align-items-center position-relative bg-body-tertiary rounded overflow-hidden animate-underline">
                  <img src="/assets/img/shop/fashion/thumbs/10.jpg" width="110" alt="Thumbnail">
                  <div class="nav flex-column gap-2 min-w-0 p-3">
                    <a class="nav-link text-dark-emphasis stretched-link w-100 min-w-0 p-0"
                      href="shop-product-fashion.html">
                      <span class="animate-target text-truncate">A gift box of red flowers</span>
                    </a>
                    <div class="h6 mb-0">54.99Dt</div>
                  </div>
                </div>
                <div
                  class="d-flex align-items-center position-relative bg-body-tertiary rounded overflow-hidden animate-underline">
                  <img src="/assets/img/shop/fashion/thumbs/08.jpg" width="110" alt="Thumbnail">
                  <div class="nav flex-column gap-2 min-w-0 p-3">
                    <a class="nav-link text-dark-emphasis stretched-link w-100 min-w-0 p-0"
                      href="shop-product-fashion.html">
                      <span class="animate-target text-truncate">A beautiful bouquet of red flowers</span>
                    </a>
                    <div class="h6 mb-0">76.00DT</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Products list slide -->
            <div class="swiper-slide">
              <div class="d-flex flex-column gap-3 gap-lg-4">
                <div
                  class="d-flex align-items-center position-relative bg-body-tertiary rounded overflow-hidden animate-underline">
                  <img src="/assets/img/shop/fashion/thumbs/04.png" width="110" alt="Thumbnail">
                  <div class="nav flex-column gap-2 min-w-0 p-3">
                    <a class="nav-link text-dark-emphasis stretched-link w-100 min-w-0 p-0"
                      href="shop-product-fashion.html">
                      <span class="animate-target text-truncate">Vintage oversized wool blazer jacket</span>
                    </a>
                    <div class="h6 mb-0">174.00dDT</div>
                  </div>
                </div>
                <div
                  class="d-flex align-items-center position-relative bg-body-tertiary rounded overflow-hidden animate-underline">
                  <img src="/assets/img/shop/fashion/thumbs/05.png" width="110" alt="Thumbnail">
                  <div class="nav flex-column gap-2 min-w-0 p-3">
                    <a class="nav-link text-dark-emphasis stretched-link w-100 min-w-0 p-0"
                      href="shop-product-fashion.html">
                      <span class="animate-target text-truncate">Classic pilot style polarized sunglasses</span>
                    </a>
                    <div class="h6 mb-0">93.00DT</div>
                  </div>
                </div>
                <div
                  class="d-flex align-items-center position-relative bg-body-tertiary rounded overflow-hidden animate-underline">
                  <img src="/assets/img/shop/fashion/thumbs/06.png" width="110" alt="Thumbnail">
                  <div class="nav flex-column gap-2 min-w-0 p-3">
                    <a class="nav-link text-dark-emphasis stretched-link w-100 min-w-0 p-0"
                      href="shop-product-fashion.html">
                      <span class="animate-target text-truncate">Cotton dress straight-leg pants</span>
                    </a>
                    <div class="h6 mb-0">65.00Dt</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Complete look images (controlled slider) -->
    <div class="col-md-6 order-md-1">
      <div class="swiper user-select-none" id="sliderImages" data-swiper="{
          &quot;allowTouchMove&quot;: false,
          &quot;loop&quot;: true,
          &quot;effect&quot;: &quot;fade&quot;,
          &quot;fadeEffect&quot;: {
            &quot;crossFade&quot;: true
          }
        }">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ratio d-none d-md-block" style="--cz-aspect-ratio: calc(720 / 636 * 100%)"></div>
            <div class="ratio ratio-4x3 d-md-none"></div>
            <img src="/assets/img/home/fashion/v1/popular/04.jpg"
              class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover rounded-5" alt="Image">
          </div>
          <div class="swiper-slide">
            <div class="ratio d-none d-md-block" style="--cz-aspect-ratio: calc(720 / 636 * 100%)"></div>
            <div class="ratio ratio-4x3 d-md-none"></div>
            <img src="/assets/img/home/fashion/v1/popular/03.jpg"
              class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover rounded-5"
              style="object-position: center top" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Featured products -->
<section class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
  <h2 class="text-center pb-2 pb-sm-3">wedding products</h2>
  <!-- Nav pills -->
  <div class="row g-0 overflow-x-auto pb-2 pb-sm-3 mb-3">
    <div class="col-auto pb-1 pb-sm-0 mx-auto">
      <ul class="nav nav-pills flex-nowrap text-nowrap">
        <a class="nav-link" [class.active]="selectedCategory === ''" (click)="filterProductsByCategory('')">
          All
        </a>
        <a class="nav-link" [class.active]="selectedCategory === 'bridal flower'"
          (click)="filterProductsByCategory('bridal flower')">
          Bridal Flower
        </a>

        <a class="nav-link" [class.active]="selectedCategory === 'bridal hand fan'"
          (click)="filterProductsByCategory('bridal hand fan')">
          Bridal Hand Fan
        </a>

        <a class="nav-link" [class.active]="selectedCategory === 'bridal clutch'"
          (click)="filterProductsByCategory('bridal clutch')">
          Bridal Clutch
        </a>

      </ul>
    </div>
  </div>

  <!-- Products grid -->
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 gy-4 gy-md-5 pb-xxl-3">
    @for (product of filteredProducts; track $index) {
    <!-- Item -->
    <div class="col mb-2 mb-sm-3 mb-md-0">
      <div class="animate-underline hover-effect-opacity">
        <div class="position-relative mb-3">
          <span class="badge text-bg-danger position-absolute top-0 start-0 z-2 mt-2 mt-sm-3 ms-2 ms-sm-3"></span>
          <button type="button"
            class="btn btn-icon btn-secondary animate-pulse fs-base bg-transparent border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2"
            aria-label="Add to Wishlist">
            <i class="fas fa-heart animate-target"></i>
          </button>

          <a class="d-flex bg-body-tertiary rounded p-3"  [routerLink]="['/product', product.id]">
            <div class="ratio" style="--cz-aspect-ratio: calc(308 / 274 * 100%)">
              <img [src]="imageUrl+product?.productImages[0]?.url" alt="Image">
            </div>
          </a>
          <div
            class="hover-effect-target position-absolute start-0 bottom-0 w-100 z-2 opacity-0 pb-2 pb-sm-3 px-2 px-sm-3">
            <div class="d-flex align-items-center justify-content-center gap-2 gap-xl-3 bg-body rounded-2 p-2">

              
            </div>
          </div>
        </div>
        <div class="nav mb-2">
          <a class="nav-link animate-target min-w-0 text-dark-emphasis p-0" >
            <span class="text-truncate">{{product.name}}</span>
          </a>
        </div>
        <div class="h6 mb-2">{{product.basePrice}} Dt<del class="fs-sm fw-normal text-body-tertiary"></del></div>
        <div class="position-relative">
          <button class="btn btn-sm btn-primary" (click)="addToCart(product.id)">add to cart</button>
          <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/product', product.id]">
            View Details
          </button>
        </div>
      </div>
    </div>
    }


  </div>
</section>

<!-- Featured products -->
<section class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
  <h2 class="text-center pb-2 pb-sm-3">Luxury Wedding Services</h2>
  <!-- Nav pills -->
  <div class="row g-0 overflow-x-auto pb-2 pb-sm-3 mb-3">
    <div class="col-auto pb-1 pb-sm-0 mx-auto">
      <ul class="nav nav-pills flex-nowrap text-nowrap">
        <a class="nav-link" [class.active]="selectedServiceCat === ''" (click)="filterServicesByCategory('')">
          All
        </a>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedServiceCat === 'bridal dresses'"
             (click)="filterServicesByCategory('bridal dresses')">Bridal Dresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedServiceCat === 'wedding venues'"
             (click)="filterServicesByCategory('wedding venues')">Wedding Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedServiceCat === 'car rentals'"
             (click)="filterServicesByCategory('car rentals')">Car Rentals</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Products grid -->
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 gy-4 gy-md-5 pb-xxl-3">
    @for (product of filteredServices; track $index) {
    <!-- Item -->
    <div class="col mb-2 mb-sm-3 mb-md-0">
      <div class="card h-100 shadow-sm border-0">
        <div class="position-relative">
         
          <button type="button"
            class="btn btn-icon btn-light position-absolute top-0 end-0 z-2 mt-2 me-2"
            aria-label="Add to Wishlist">
            <i class="fas fa-heart text-danger"></i>
          </button>
    
          <a [routerLink]="['/product', product.id]">
            <div class="ratio ratio-4x3">
              <img [src]="imageUrl + product?.categoryImages[0]?.url"
                   class="card-img-top object-fit-cover rounded-top"
                   alt="Image du service">
            </div>
          </a>
        </div>
    
        <div class="card-body d-flex flex-column">
          <h6 class="card-title text-truncate">{{ product.name }}</h6>
          <p class="card-text text-muted small mb-1">{{ product.contactService }}</p>
          <p class="card-text text-muted small mb-2">{{ product.serviceAddress }}</p>
    
          <div class="mt-auto d-flex justify-content-between align-items-center">
            <div class="h6 mb-0">{{ product.basePrice }} Dt</div>
            <button class="btn btn-sm btn-primary" [routerLink]="['/booking', product.id]">Book Now</button>
          </div>
        </div>
      </div>
    </div>
    
    }


  </div>
</section>
<!-- Special collection carousel -->
<section class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
  <div class="d-md-none text-center pb-3 mb-3">
    <p class="mb-2">New arrivals</p>
    <h2 class="mb-0">Meet the Cartzilla collection</h2>
  </div>
  <div class="row align-items-center pb-xxl-3">

    <!-- Preview images (controlled slider) -->
    <div class="col-md-7 order-md-2 mb-4 mb-md-0">
      <div class="swiper user-select-none" id="previewImages" data-swiper="{
          &quot;allowTouchMove&quot;: false,
          &quot;loop&quot;: true,
          &quot;effect&quot;: &quot;fade&quot;,
          &quot;fadeEffect&quot;: {
            &quot;crossFade&quot;: true
          }
        }">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ratio" style="--cz-aspect-ratio: calc(720 / 746 * 100%)">
              <img src="/assets/img/home/fashion/v1/collection/03.jpg" class="rounded-5" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ratio" style="--cz-aspect-ratio: calc(720 / 746 * 100%)">
              <img src="/assets/img/home/fashion/v1/collection/03.jpg" class="rounded-5" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Products master slider -->
    <div class="col-md-5 order-md-1 text-center">
      <div class="d-none d-md-block pb-3 mb-2 mb-lg-3 mx-auto" style="max-width: 306px">
        <p class="mb-2">New wedding Space </p>
        <h2 class="mb-0">Discover the perfect luxurious wedding venue..</h2>
      </div>
      <div class="d-flex align-items-center justify-content-center">

        <!-- Prev button with Font Awesome -->
        <button type="button" class="btn btn-icon btn-outline-secondary animate-slide-start rounded-circle mt-n5"
          id="collectionPrev" aria-label="Prev">
          <i class="fas fa-chevron-left fs-lg"></i> <!-- Font Awesome icon -->
        </button>

        <!-- Slider -->
        <div class="swiper mx-3 mx-lg-4" data-swiper="{
            &quot;spaceBetween&quot;: 24,
            &quot;loop&quot;: true,
            &quot;speed&quot;: 400,
            &quot;controlSlider&quot;: &quot;#previewImages&quot;,
            &quot;navigation&quot;: {
              &quot;prevEl&quot;: &quot;#collectionPrev&quot;,
              &quot;nextEl&quot;: &quot;#collectionNext&quot;
            }
          }" style="max-width: 306px">
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide">
              <div class="animate-underline hover-effect-opacity">
                <a class="d-flex bg-body-tertiary rounded p-3 mb-3" href="shop-product-fashion.html">
                  <div class="ratio" style="--cz-aspect-ratio: calc(308 / 274 * 100%)">
                    <img src="/assets/img/shop/fashion/05.jpg" alt="Image">
                  </div>
                </a>
                <div class="nav justify-content-center mb-2">
                  <a class="nav-link animate-target min-w-0 text-dark-emphasis p-0" href="shop-product-fashion.html">
                    <span class="text-truncate">Find the luxurious wedding venue.</span>
                  </a>
                </div>

              </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
              <div class="animate-underline hover-effect-opacity">
                <a class="d-flex bg-body-tertiary rounded p-3 mb-3" href="shop-product-fashion.html">
                  <div class="ratio" style="--cz-aspect-ratio: calc(308 / 274 * 100%)">
                    <img src="/assets/img/shop/fashion/06.jpg" alt="Image">
                  </div>
                </a>
                <div class="nav justify-content-center mb-2">
                  <a class="nav-link animate-target min-w-0 text-dark-emphasis p-0" href="shop-product-fashion.html">
                    <span class="text-truncate">Single breasted oversized blazer</span>
                  </a>
                </div>
                <div class="h6 mb-0">113.99DT</div>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-icon btn-outline-secondary animate-slide-end rounded-circle mt-n5"
          id="collectionNext" aria-label="Next">
          <i class="fas fa-chevron-right fs-lg"></i> <!-- Font Awesome icon -->
        </button>
      </div>
    </div>
  </div>
</section>




<!-- Reviews carousel -->
<section class="bg-body-tertiary py-5">
  <div class="container py-1 py-sm-2 py-md-3 py-lg-4 py-xl-5">
    <h2 class="text-center pb-2 pb-md-3 pb-lg-4 pt-xxl-3">Happy customers</h2>
    <div class="position-relative pb-xxl-3">

      <!-- External slider prev/next buttons visible on screens > 500px wide (sm breakpoint) -->

      <button type="button"
        class="btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-start position-absolute top-50 start-0 z-2 translate-middle d-none d-sm-inline-flex mt-n4"
        id="reviewsPrev" aria-label="Prev">
        <i class="fas fa-chevron-left fs-lg animate-target"></i>
      </button>

      <button type="button"
        class="btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-end position-absolute top-50 start-100 z-2 translate-middle d-none d-sm-inline-flex mt-n4"
        id="reviewsNext" aria-label="Next">
        <i class="fas fa-chevron-right fs-lg animate-target"></i>
      </button>
      <!-- Slider -->
      <div class="swiper" data-swiper="{
          &quot;slidesPerView&quot;: 1,
          &quot;spaceBetween&quot;: 24,
          &quot;loop&quot;: true,
          &quot;navigation&quot;: {
            &quot;prevEl&quot;: &quot;#reviewsPrev&quot;,
            &quot;nextEl&quot;: &quot;#reviewsNext&quot;
          },
          &quot;pagination&quot;: {
            &quot;el&quot;: &quot;.swiper-pagination&quot;,
            &quot;clickable&quot;: true
          },
          &quot;breakpoints&quot;: {
            &quot;600&quot;: {
              &quot;slidesPerView&quot;: 2
            },
            &quot;992&quot;: {
              &quot;slidesPerView&quot;: 3
            }
          }
        }">
        <div class="swiper-wrapper">

          <!-- Review -->
          <div class="swiper-slide h-auto">
            <div class="card h-100 border-0 rounded-4 p-sm-2">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <div class="ratio ratio-1x1 flex-shrink-0" style="max-width: 80px">
                    <img src="/assets/img/home/fashion/v1/reviews/1.jpg" width="80" alt="Image">
                  </div>
                  <div class="ps-2 ms-1">
                    <div class="d-flex gap-1 fs-xs pb-2 mb-1">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                    </div>
                    <h3 class="h6 mb-0">Safa</h3>
                  </div>
                </div>
                <p class="mb-0">Very satisfied with the wedding venue rental service! The hall is perfectly suited, not
                  too big, not too small, just right 🔥 The venue looks much more elegant than its cost..</p>
              </div>
            </div>
          </div>
          <!-- Review -->
          <div class="swiper-slide h-auto">
            <div class="card h-100 border-0 rounded-4 p-sm-2">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <div class="ratio ratio-1x1 flex-shrink-0" style="max-width: 80px">
                    <img src="/assets/img/home/fashion/v1/reviews/4.jpg" width="80" alt="Image">
                  </div>
                  <div class="ps-2 ms-1">
                    <div class="d-flex gap-1 fs-xs pb-2 mb-1">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                    </div>
                    <h3 class="h6 mb-0">Nouran</h3>
                  </div>
                </div>
                <p class="mb-0">A wonderful bouquet of flowers, beautifully arranged, with a variety of fresh blooms.
                  The stems are neatly trimmed, and the flowers are vibrant and healthy. Excellent quality and
                  craftsmanship!.</p>
              </div>
            </div>
          </div>

          <!-- Review -->
          <div class="swiper-slide h-auto">
            <div class="card h-100 border-0 rounded-4 p-sm-2">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <div class="ratio ratio-1x1 flex-shrink-0" style="max-width: 80px">
                    <img src="/assets/img/home/fashion/v1/reviews/3.jpg" width="80" alt="Image">
                  </div>
                  <div class="ps-2 ms-1">
                    <div class="d-flex gap-1 fs-xs pb-2 mb-1">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                    </div>
                    <h3 class="h6 mb-0">Roua </h3>
                  </div>
                </div>
                <p class="mb-0">Elegant wedding car, and the color is just perfect! The interior is neat and
                  well-maintained 🛍 Excellent quality, and it’s perfect for the occasion. The car was comfortable and
                  didn't feel cramped, making it a great choice for the wedding day.</p>
              </div>
            </div>
          </div>

          <!-- Review -->
          <div class="swiper-slide h-auto">
            <div class="card h-100 border-0 rounded-4 p-sm-2">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <div class="ratio ratio-1x1 flex-shrink-0" style="max-width: 80px">
                    <img src="/assets/img/home/fashion/v1/reviews/1.jpg" width="80" alt="Image">
                  </div>
                  <div class="ps-2 ms-1">
                    <div class="d-flex gap-1 fs-xs pb-2 mb-1">
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                      <i class="fas fa-star text-warning"></i>
                    </div>
                    <h3 class="h6 mb-0">Yassmine</h3>
                  </div>
                </div>
                <p class="mb-0">Very satisfied with the wedding venue rental service! The hall is perfectly suited, not
                  too big, not too small, just right 🔥 The venue looks much more elegant than its cost..</p>
              </div>
            </div>
          </div>


        </div>

        <!-- Pagination (Bullets) -->
        <div class="swiper-pagination position-static pt-3 mt-sm-1 mt-md-2 mt-lg-3"></div>
      </div>
    </div>
  </div>
</section>


<!-- Instagram feed -->
<section class="container pt-5 mt-1 mt-sm-2 mt-md-3 mt-lg-4 mt-xl-5">
  <div class="text-center pt-xxl-3 pb-2 pb-md-3">
    <h2 class="pb-2 mb-1">
      <span class="animate-underline">
        <a class="animate-target text-dark-emphasis text-decoration-none" href="#!">Eventify</a>
      </span>
    </h2>
    <p>Find more inspiration on our Site</p>
  </div>
  <div class="overflow-x-auto pb-3 mb-n3" data-simplebar="">
    <div class="d-flex gap-2 gap-md-3 gap-lg-4" style="min-width: 700px">
      <a class="hover-effect-scale hover-effect-opacity position-relative w-100 overflow-hidden" href="#!">
        <span
          class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
        <i
          class="ci-instagram hover-effect-target fs-4 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
        <div class="hover-effect-target ratio ratio-1x1">
          <img src="/assets/img/instagram/11.jpg" alt="Instagram image">
        </div>
      </a>
      <a class="hover-effect-scale hover-effect-opacity position-relative w-100 overflow-hidden" href="#!">
        <span
          class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
        <i
          class="ci-instagram hover-effect-target fs-4 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
        <div class="hover-effect-target ratio ratio-1x1">
          <img src="/assets/img/instagram/06.jpg" alt="Instagram image">
        </div>
      </a>
      <a class="hover-effect-scale hover-effect-opacity position-relative w-100 overflow-hidden" href="#!">
        <span
          class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
        <i
          class="ci-instagram hover-effect-target fs-4 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
        <div class="hover-effect-target ratio ratio-1x1">
          <img src="/assets/img/instagram/10.jpg" alt="Instagram image">
        </div>
      </a>
      <a class="hover-effect-scale hover-effect-opacity position-relative w-100 overflow-hidden" href="#!">
        <span
          class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
        <i
          class="ci-instagram hover-effect-target fs-4 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
        <div class="hover-effect-target ratio ratio-1x1">
          <img src="/assets/img/instagram/07.jpg" alt="Instagram image">
        </div>
      </a>
      <a class="hover-effect-scale hover-effect-opacity position-relative w-100 overflow-hidden" href="#!">
        <span
          class="hover-effect-target position-absolute top-0 start-0 w-100 h-100 bg-black bg-opacity-25 opacity-0 z-1"></span>
        <i
          class="ci-instagram hover-effect-target fs-4 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
        <div class="hover-effect-target ratio ratio-1x1">
          <img src="/assets/img/instagram/08.jpg" alt="Instagram image">
        </div>
      </a>
    </div>
  </div>
</section>